<button type="button" class="btn btn-primary" (click)="showModalWindow(content)">
  Open calculator
</button>


<ng-template #content let-modal>
  <div class="modal-content estimator-modal-content-customize estimator-fade">
    <div class="modal-header">
      <h2 class="estimator-center-text estimator-h2-customize">Estimation for Dating app</h2>
    </div>
    <div class="modal-body">
      <div *ngIf="currentQuestion; else result">
        <div style="margin-bottom:10px">{{currentQuestion.title}}</div>
        <div *ngIf="!currentQuestion.isMultiple; else multiple">
          <div class="estimator-variant" *ngFor="let answer of currentQuestion.variants">
            <label class="container estimator-container-customize">{{answer.title}}
              <input type="radio" name="variant" (change)="onClickRadio(answer)">
              <span class="estimator-checkmark-r"></span>
            </label>
          </div>
        </div>
        <ng-template #multiple>
          <div class="estimator-variant" *ngFor="let answer of currentQuestion.variants">
            <label class=" estimator-container-customize">{{answer.title}}
              <input type="checkbox" name="variant" (change)="onClickCheckbox($event,answer.value)">
              <span class="estimator-checkmark-b"></span>
            </label>
          </div>
        </ng-template>
        <div class="estimator-center-text estimator-rough-estimate">ROUGH COST: {{totalPrice|number:'1.0-3'}} $</div>
      </div>
      <ng-template #result>
        <h1 class="estimator-center-text col-md-12 estimator-font-bold">Total cost:<span class="estimator-total-estimate">
            {{totalPrice|number:'1.0-3'}} $</span></h1>
      </ng-template>
    </div>
    <div *ngIf="currentQuestion">
      <div class="text-center">
        <div class="progress estimator-progress-customize">
          <div class="progress-bar estimator-progress-bar-customize" role="progressbar" [attr.aria-valuenow]="currentQuestion.order"
            aria-valuemin="0" aria-valuemax="17" [ngStyle]="{'width.%': (currentQuestion.order-1)/18*100}">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button *ngIf="currentQuestion; else finish" type="button" class="btn estimator-btn-customize" [disabled]="choosenVariantsCount==0"
        (click)="goToNextQuestion()">NEXT</button>
      <ng-template #finish>
        <div class="col-md-12">
          <button class="btn estimator-btn-customize" (click)=resetQuestions()>AGAIN</button>
          <a href="https://vironit.com/contacts/" class="btn estimator-vironit-btn estimator-btn-customize">TO VIRONIT</a>
        </div>
      </ng-template>
    </div>
  </div>
  <!-- </div> -->
  <!-- </div> -->
</ng-template>