.estimator-center-text {
    width: 100%;
    text-align: center;
}

.estimator-variant {
    height: 25%;
    padding: 10px
}


.estimator-rough-estimate {
    /* position: absolute;
    bottom: 10px;
    right: 15px; */
    color: #eee;
    background-color: #00a97b;
    width: 40%;
    /* min-width: 200px; */
    float: right;
    font-size: 20px !important;
    font-weight: bold !important;
}

.estimator-total-estimate {
    color: #eee;
    background-color: #00a97b;
    width: fit-content;
    margin-left: 10px;
    padding-right: 10px;
}

.estimator-btn-customize {
    background-color: #ffffff;
    border: 5px solid #00a97b;
    border-radius: 0;
    font-size: 24px !important;
    font-weight: bold !important;
    line-height: 1.5rem;
    float: left;
}

.estimator-container-customize {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1.1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.estimator-container-customize input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.estimator-checkmark-b {
    position: absolute;
    top: 3px;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #e2e2e2;
}

.estimator-checkmark-r {
    position: absolute;
    top: 3px;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #e2e2e2;
    border-radius: 50%;
}

.estimator-container-customize input:checked~.estimator-checkmark-b {
    border: 2px solid #00a97b;
}

.estimator-container-customize input:checked~.estimator-checkmark-r {
    border: 5px solid #00a97b;
}

.estimator-checkmark-b:after {
    content: "";
    position: absolute;
    display: none;
}

.estimator-container-customize input:checked~.estimator-checkmark-b:after {
    display: block;
}

.estimator-container-customize .estimator-checkmark-b:after {
    left: 36%;
    top: 10%;
    width: 5px;
    height: 10px;
    border: solid #00a97b;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.estimator-modal-content-customize {
    border: 7px solid #00a97b;
    border-radius: 0;
    font-size: 1.2rem;
}

.estimator-h2-customize {
    font-size: 32px !important;
    font-weight: bold !important;
}

.estimator-progress-customize {
    border-radius: 0 !important;
    height: 10px;
    width: 95%;
    margin-bottom: 5px;
    display: inline-flex
}

.estimator-progress-bar-customize {
    background-color: #00a97b;
    background-image: linear-gradient(to bottom, #00a97b 0%, #00a97b 100%) !important;
}

.estimator-btn-customize:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.estimator-vironit-btn {
    float: right;
    background-color: #018762;
    color: #ffffff;
}

.estimator-font-bold {
    font-weight: bold;
}